     
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	}
	:root {
	--background-color1: #fafaff;
	--background-color2: #ffffff;
	--background-color3: #b4a7d6 ;
	--background-color4: #ECE0EF;
	--primary-color: #999999;
	--secondary-color: #b4a7d6;
	--Border-color: #b4a7d6;
	}
	body {
	background-color: var(--background-color4);
	max-width: 100%;
	overflow-x: hidden;
	}
	
	.head {
	height: 70px;
	width: 100vw;
	padding: 0 30px;
	background-color: var(--background-color1);
	position: fixed;
	z-index: 100;
	box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	}
	
	
	
	.logo {
	font-size: 30px;
	font-weight: 600;
	color:#6a329f;
	margin-bottom: 5%;
	width:150px;
	}
	
	.icn {
	height: 30px;
	}
	.menuicn {
	cursor: pointer;
	}
	
	.searchbar,
	.message,
	.logosec {
	display: flex;
	align-items: center;
	justify-content: center;
	}
	
	.searchbar2 {
	display: none;
	}
	
	.logosec {
	gap: 60px;
	}
	
	.searchbar input {
	width: 250px;
	height: 42px;
	border-radius: 50px 0 0 50px;
	background-color: var(--background-color3);
	padding: 0 20px;
	font-size: 15px;
	outline: none;
	border: none;
	}
	.searchbtn { 
	  width: 50px; 
	  height: 42px; 
	  display: flex; 
	  align-items: center; 
	  justify-content: center; 
	  border-radius: 0px 50px 50px 0px; 
	  background-color: var(--secondary-color); 
	  cursor: pointer; 
	} 
	
	.message {
	gap: 40px;
	position: relative;
	cursor: pointer;
	}
	.circle {
	height: 7px;
	width: 7px;
	position: absolute;
	background-color: #301934;
	border-radius: 50%;
	left: 19px;
	top: 8px;
	}
	.dp {
	height: 40px;
	width: 40px;
	background-color: #626262;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	}
	.main-container {
	display: flex;
	width: 100vw;
	position: relative;
	top: 70px;
	z-index: 1;
	}
	.dpicn {
	height: 42px;
	}
	
	.main {
	height: calc(100vh - 70px);
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 40px 30px 30px 30px;
	}
	
	.main::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to right, #b4a7d6,#6a329f);
	}
	.main::-webkit-scrollbar {
	width: 5px;
	}
	.main::-webkit-scrollbar-track {
	background-color: #9e9e9eb2;
	}
	
	.box-container {
	display: flex;
	margin-top: 50px;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
	}
	.nav {
	min-height: 91vh;
	width: 250px;
	background-color: var(--background-color2);
	position: absolute;
	top: 0px;
	left: 00;
	box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	padding: 20px 0 20px 10px;
	}
	.navcontainer {
	height: calc(100vh - 70px);
	width: 250px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: all 0.5s ease-in-out;
	}
	.navcontainer::-webkit-scrollbar {
	display: none;
	}
	.navclose {
	width: 80px;
	}
	.nav-option {
	width: 250px;
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0 30px 0 20px;
	gap: 20px;
	transition: all 0.1s ease-in-out;
	}
	.nav-option:hover {
	border-left: 5px solid #6a329f;
	background-color: #b4a7d6;
	cursor: pointer;
	}
	.nav-img {
	height: 30px;
	}
	
	.nav-upper-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	}
	
	.box {
	height: 130px;
	width: 230px;
	border-radius: 20px;
	box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	}
	.box:hover {
	transform: scale(1.08);
	}
	
	.box:nth-child(1) {
	background:linear-gradient(to right, #b4a7d6,#6a329f);
	}
	.box:nth-child(2) {
	background:linear-gradient(to right, #b4a7d6,#6a329f);
	}
	.box:nth-child(3) {
	background:linear-gradient(to right, #b4a7d6,#6a329f);
	}
	.box:nth-child(4) {
	background:linear-gradient(to right, #b4a7d6,#6a329f);
	}
	.box:nth-child(5) {
		background:linear-gradient(to right, #b4a7d6,#6a329f);
		}
	.box img {
	height: 50px;
	}
	.box .text {
	color: white;
	}
	.topic {
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	}
	
	.topic-heading {
	font-size: 30px;
	letter-spacing: 3px;
	}
	
	
	.items {
	width: 1120px;
	margin-top: 15px;
	}
	
	.item1 {
	margin-top: 20px;
	}
	.t-op-nextlvl {
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 600;
	}
	
	.label-tag {
	width: 100px;
	text-align: center;
	background-color: rgb(0, 177, 0);
	color: white;
	border-radius: 4px;
	}
	@media screen and (max-width: 950px) { 
	.nav-img { 
		height: 25px; 
	} 
	.nav-option { 
		gap: 30px; 
	} 
	.nav-option h3 { 
		font-size: 15px; 
	} 
	.report-topic-heading, 
	.item1, 
	.items { 
		width: 800px; 
	} 
	} 
	
	@media screen and (max-width: 850px) { 
	.nav-img { 
		height: 30px; 
	} 
	.nav-option { 
		gap: 30px; 
	} 
	.nav-option h3 { 
		font-size: 20px; 
	} 
	.report-topic-heading, 
	.item1, 
	.items { 
		width: 700px; 
	} 
	.navcontainer { 
		width: 100vw; 
		position: absolute; 
		transition: all 0.6s ease-in-out; 
		top: 0; 
		left: -100vw; 
	} 
	.nav { 
		width: 100%; 
		position: absolute; 
	} 
	.navclose { 
		left: 00px; 
	} 
	.searchbar { 
		display: none; 
	} 
	.main { 
		padding: 40px 30px 30px 30px; 
	} 
	.searchbar2 { 
		width: 100%; 
		display: flex; 
		margin: 0 0 40px 0; 
		justify-content: center; 
	} 
	.searchbar2 input { 
		width: 250px; 
		height: 42px; 
		border-radius: 50px 0 0 50px; 
		background-color: var(--background-color3); 
		padding: 0 20px; 
		font-size: 15px; 
		border: 2px solid var(--secondary-color); 
	} 
	} 
	
	@media screen and (max-width: 490px) { 
	.message { 
		display: none; 
	} 
	.logosec { 
		width: 100%; 
		justify-content: space-between; 
	} 
	.logo { 
		font-size: 20px; 
	} 
	.menuicn { 
		height: 25px; 
	} 
	.nav-img { 
		height: 25px; 
	} 
	.nav-option { 
		gap: 25px; 
	} 
	.nav-option h3 { 
		font-size: 12px; 
	} 
	.nav-upper-options { 
		gap: 15px; 
	} 
	.recent-Articles { 
		font-size: 20px; 
	} 
	.report-topic-heading, 
	.item1, 
	.items { 
		width: 550px; 
	} 
	} 
	
	@media screen and (max-width: 400px) { 
	.recent-Articles { 
		font-size: 17px; 
	} 
	.view { 
		width: 60px; 
		font-size: 10px; 
		height: 27px; 
	} 
	.report-header { 
		height: 60px; 
		padding: 10px 10px 5px 10px; 
	} 
	.searchbtn img { 
		height: 20px; 
	} 
	} 
	
	@media screen and (max-width: 320px) { 
	.recent-Articles { 
		font-size: 12px; 
	} 
	.view { 
		width: 50px; 
		font-size: 8px; 
		height: 27px; 
	} 
	.report-header { 
		height: 60px; 
		padding: 10px 5px 5px 5px; 
	} 
	.t-op { 
		font-size: 12px; 
	} 
	.t-op-nextlvl { 
		font-size: 10px; 
	} 
	.report-topic-heading, 
	.item1, 
	.items { 
		width: 300px; 
	} 
	.report-body { 
		padding: 10px; 
	} 
	.label-tag { 
		width: 70px; 
	} 
	.searchbtn { 
		width: 40px; 
	} 
	.searchbar2 input { 
		width: 180px; 
	} 
	}
	.dropdown {
		position: relative;
		display: flex;
	}
	
	.dropdown-content {
		display: none;
		position: absolute;
		text-align: center;
		background-color: white;
		padding: 12px 14px;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		z-index: 1;
		margin-top: 68%;
		width: 100%;
	}
	
	.dropdown-content a {
		color: black;
		width: 100px;
		padding: 8px 0px;
		text-decoration: none;
		display: block;
		font-weight: bold;
	}
	
	.dropdown-content a:hover {
		background-color: #f1f1f1;
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
	}
	
	