table {
    width: 100%;
    border-collapse: collapse;

}

.edit-btn {
    background-color: #570987;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
}

.edit-btn:hover{
    background-color: #45076a;
}

.delete-btn, .return-btn {
    background-color: #570987;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #45076a;
}

.btn-link {
    text-decoration: none;

}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
}

tr:hover {
    background-color: #f2f2f2;
}

.main {
    padding: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.panel-heading {
    background-color: none;
    padding: 10px;
    margin-bottom: 20px;
}

.panel-heading .btn {
    background-color: #570987;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}

.panel-heading .btn:hover {
    background-color: #45076a;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



