/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  display: grid;
  width: 100%;
  height: 100%;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.form1 {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #bc9cc8;
}

.form1 .title-text,
.form-box .form-inner {
  display: flex;
  width: 200%;
}

.form1 .title-text .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-box {
  width: 100%;
  overflow: hidden;
}

.slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin: 30px 0 10px;
  justify-content: space-between;
  border: 1px solid lightgrey;
}

.slide {
  color: #fff;
  height: 100%;
  width: 100%;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.signup {
  color: #000;
}

.slide-tab {
  position: absolute;
  height: 100px;
  width: 50%;
  left: 0;
  border-radius: 5px;
  z-index: 0;
  background: -webkit-linear-gradient(left, #b4a7d6, #6a329f);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="checkb"] {
  display: none;
}

#signup:checked ~ .slide-tab {
  left: 50%;
}

#signup:checked ~ .signup {
  color: #fff;
}

#signup:checked ~ .login {
  color: #000;
}

.form-box .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: auto;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  transition: margin-top 0.3s ease;
}

.form-inner form .field input,
.form-inner form .field select {
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
}

.form-inner form .field input:focus {
  border-color: #6a329f;
}

.pass-link,
.signup-link {
  margin-top: 5px;
}

.pass-link a,
.signup-link a {
  color: #6a329f;
  text-decoration: none;
}

.signup-link {
  text-align: center;
  margin-top: 30px;
}

.pass-link a:hover,
.signup-link a:hover {
  text-decoration: underline;
}

form .field input[type="submit"] {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #b4a7d6, #6a329f);
}

#userImage {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #6a329f;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  #userImage {
    width: 80px;
    height: 80px;
  }
}
*/